#eureka:
#  client:
#    serviceUrl:
#      defaultZone: ${EUREKA_URL:https://user:password@localhost:5000}/eureka/
#security:
#  user:
#    password: ${eureka.password}
#exception:
#  printStackTrace: true
#
#spring:
#  application:
#    name: configserver
##  profiles:
##    active: config
#  eureka:
#    instance:
#      hostname: ${DOMAIN_NAME}
#    client:
#      registerWithEureka: true
#      fetchRegistry: true
#      serviceUrl:
#        defaultZone: ${EUREKA_PEER_URL}/eureka/
#    password: ${USER_PASSWORD:password}

signing:
  key: "cGVyc29uYWwgZmluYW5jZSBzZXJ2aWNl"

# For detailed logging during development
logging:
  level:
    org:
      com: ERROR
      springframework: ERROR
      hibernate:
        sql: DEBUG
        type:
          descriptor:
            sql:
              BasicBinder: ERROR
